:root {
    --bg-clr: #1d1d1d;
    --dark-color: #2c2c2c;
    --font-clr: #fff;
    --accent-clr: #ff603d;
}

body {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
    background: var(--bg-clr);
    color: var(--font-clr);
}

a, button {
    user-select: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 60px;
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

/* header styles start */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
}

.header__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 280px;
    height: 32px;
}
.header__logo img {
    width: inherit;
    height: inherit;
}
.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__navigation li {
    position: relative;
    margin-left: 60px;
}
.header__navigation li:first-child {
    margin-left: 0px;
}
.header__navigation-link {
    color: var(--font-clr);
}
.pullmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__navigation-link.pullmenu svg {
    margin-top: 1px;
    margin-left: 8px;
}

.header__user-interactions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__user-interactions svg {
    /* margin-top: -1px; */
    margin-top: 2px;
    cursor: pointer;
}
.header__user-login {
    margin-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
    color: var(--font-clr);
}
.header__user-login svg {
    width: 28px;
    height: 28px;
    margin-top: -1px;
    margin-right: 10px;
    color: var(--accent-clr);
}


/* pullmenu styles start */
.header__pullmenu {
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: -240px;
    width: 600px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background: var(--dark-color);
}
.header__pullmenu::before {
    content: "";
    position: absolute;
    top: -5px;
    left: calc(50% - 15px / 2);
    width: 15px;
    height: 15px;
    background-color: var(--dark-color);
    border-radius: 4px;
    transform: rotate(45deg);
    z-index: -1;
}
.header__pullmenu-nav {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 15px 30px;
    border-right: 1px solid #585858;
}
.header__pullmenu-nav li {
    margin-left: 0;
    padding: 13px 0px;
}
.header__pullmenu-link {
    font-size: 15px;
    font-weight: 400;
    /* font-style:; */
    color: var(--font-clr);
}
.header__pullmenu-info {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--dark-color);
    height: inherit;
    width: calc(100% - 35%);
    padding: 22px 30px;
    font-size: 15px;
    line-height: 25px;
}
/* pullmenu styles end */


/* header styles end */
/* startpage styles start */
.startpage {
    position: relative;
    z-index: 2;
}
.startpage__cover-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}
.startpage__cover-background::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: #1d1d1dea;
    z-index: 1;
}
.startpage__cover-background video {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
/* startpage styles end */
